html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  height: 100vh;
  width: 100vw;
}

#weather-data {
  visibility: hidden;
}

.leaflet-popup-content {
  color: rgb(3, 16, 3);
  font-size: 12px;
  font-family: Arial;
  margin: 5px;
}

.leaflet-popup {
  border: 2px solid rgb(101, 148, 119);
  border-radius: 10px;
}

.leaflet-popup-content-wrapper {
  background-color: rgba(193, 193, 238, 0.9);
}

.leaflet-popup-tip {
  background-color: rgba(193, 193, 238, 0.9);
}

.leaflet-popup-close-button {
  color: rgba(128, 128, 128, 1) !important;
}

.logo {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 80px;
  height: auto;
  border: 5px;
  border-radius: 6px;;
  z-index: 1000;
  background-color: rgba(38, 38, 38, 0.7);
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 92%;
  height: auto;
  margin: 4%;
}

.logo button {
  width: 92%;
  height: auto;
  margin: 4%;
  background-color: rgb(110, 248, 197);
}

/* CSS */
.logo button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  user-select: none;
  touch-action: manipulation;
}
