<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Weather</title>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="map"></div>

    <script>
        function getTempColor(temp) {
            if (temp < 0) {
                return 'rgba(90, 90, 250, 0.8)';
            } else if (temp < 10) {
                return 'rgba(90, 250, 90, 0.8)';
            } else if (temp < 20) {
                return 'rgba(250, 250, 90, 0.8)';
            } else if (temp < 30) {
                return 'rgba(250, 175, 90, 0.8)';
            } else if (temp < 40) {
                return 'rgba(250, 90, 90, 0.8)';
            } else {
                return 'rgba(255, 0, 0, 0.8)';
            }
        } 

        let map = L.map('map').setView([20, 20], 3);
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
	        maxZoom: 8
        }).addTo(map);

        let cities = {};

        // Fetch weather data and display it on the map
        async function fetchWeatherData() {
            try {
                const response = await fetch('/get-weather');
                if (!response.ok) {
                    throw new Error('Failed to fetch weather data');
                }

                const weatherData = await response.json();
                weatherData.forEach(city => {
                    let localtime = new Date(city.localtime * 1000);
                    let timestr = `${localtime.getUTCDate()}/${localtime.getUTCMonth()}/${localtime.getUTCFullYear() - 2000} ${String(localtime.getUTCHours()).padStart(2, "0")}:${String(localtime.getUTCMinutes()).padStart(2, "0")}`;

                    let label = L.divIcon({
                        className: 'temperature-label',
                        html: `<div style="background-color: ${getTempColor(city.temp)}; padding: 1px; border-radius: 8px; text-align: center">${city.temp}</div>`,
                        iconSize: [24, 18]
                    });

                    let content = `<b>${city.name}</b><br/>Temperature: ${city.temp}°C<br/>Humidity: ${city.humidity}%<br/>Weather: ${city.description}<br/>Wind: ${city.wind}<br/>Time: ${timestr}`;

                    if(city.name in cities) {
                        cities[city.name].setIcon(label);
                        cities[city.name].bindPopup(content);
                    } else {
                        cities[city.name] = L.marker([city.lat, city.lon], { icon: label }).addTo(map)
                            .bindPopup(content);
                    }
                });
            } catch (error) {
                console.error('Error fetching weather data:', error);
            }
        }

        // Call fetchWeatherData once the map is initialized
        document.addEventListener("DOMContentLoaded", fetchWeatherData);

        // Update the weather data every 10 minutes
        setInterval(() => {
            fetchWeatherData();
        }, 60000*10);

    </script>
</body>
</html>
