<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Weather</title>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="map"></div>

    <script>

	function getTempColor(temp) {
    	    const colors = [
                { max: -21, color: 'rgba(0, 0, 139, 0.8)' },    // Dark blue
                { max: -16, color: 'rgba(0, 0, 255, 0.8)' },    // Blue
                { max: -11, color: 'rgba(70, 130, 180, 0.8)' }, // Steel blue
                { max: -6, color: 'rgba(135, 206, 235, 0.8)' }, // Sky blue
                { max: -1, color: 'rgba(173, 216, 230, 0.8)' }, // Light blue
                { max: 4, color: 'rgba(144, 238, 144, 0.8)' },  // Light green
                { max: 9, color: 'rgba(60, 179, 113, 0.8)' },   // Medium sea green
                { max: 14, color: 'rgba(34, 139, 34, 0.8)' },   // Forest green
                { max: 19, color: 'rgba(173, 255, 47, 0.8)' },  // Yellow-green
                { max: 24, color: 'rgba(255, 255, 0, 0.8)' },   // Yellow
                { max: 29, color: 'rgba(255, 165, 0, 0.8)' },   // Orange
                { max: 34, color: 'rgba(255, 99, 71, 0.8)' },   // Tomato
                { max: 39, color: 'rgba(255, 69, 0, 0.8)' },    // Orange-red
                { max: 44, color: 'rgba(255, 0, 0, 0.8)' },     // Red
                { max: Infinity, color: 'rgba(139, 0, 0, 0.8)' }// Dark red for > 45
            ];

            let fgcolor = 'black';
            if(temp<=-15 || temp>=45) {
                fgcolor = 'white';
            }
    
            return [colors.find(c => temp <= c.max).color, fgcolor];
        }


        let map = L.map('map').setView([20, 20], 3);
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
	        maxZoom: 8
        }).addTo(map);

        let cities = {};

        // Fetch weather data and display it on the map
        async function fetchWeatherData() {
            try {
                const response = await fetch('/get-weather');
                if (!response.ok) {
                    throw new Error('Failed to fetch weather data');
                }

                const weatherData = await response.json();
                weatherData.forEach(city => {
                    const localtime = new Date(city.localtime * 1000);
                    const timestr = `${localtime.getUTCDate()}/${localtime.getUTCMonth()+1}/${localtime.getUTCFullYear() - 2000} ${String(localtime.getUTCHours()).padStart(2, "0")}:${String(localtime.getUTCMinutes()).padStart(2, "0")}`;
                    const [bgcolor, fgcolor] =  getTempColor(city.temp)
                    let label = L.divIcon({
                        className: 'temperature-label',
                        html: `<div style="background-color: ${bgcolor}; color: ${fgcolor}; padding: 1px; border-radius: 8px; text-align: center">${city.temp}</div>`,
                        iconSize: [24, 18]
                    });

                    let content = `<b>${city.name}</b><br/><img class="weather-icon" src="http://openweathermap.org/img/wn/${city.icon}@2x.png">(${city.description})<br/>Temperature: ${city.temp}°C<br/>Max (last 24 hours): ${city.maxtemp}°C<br/>Min (last 24 hours): ${city.mintemp}°C<br/>Humidity: ${city.humidity}%<br/>Wind: ${city.wind}<br/>Time: ${timestr}`;

                    if(city.name in cities) {
                        cities[city.name].setIcon(label);
                        cities[city.name].bindPopup(content);
                    } else {
                        cities[city.name] = L.marker([city.lat, city.lon], { icon: label }).addTo(map)
                            .bindPopup(content);
                    }
                });
            } catch (error) {
                console.error('Error fetching weather data:', error);
            }
        }

        // Call fetchWeatherData once the map is initialized
        document.addEventListener("DOMContentLoaded", fetchWeatherData);

        // Update the weather data every 10 minutes
        setInterval(() => {
            fetchWeatherData();
        }, 60000*10);

    </script>
</body>
</html>
